<style>
    .col-md-8 {
        margin-top: 15px;
    }

    .card-header {
        display: block;
    }

    #own-status {
        float: right;
        color: green;
        font-weight: bolder;
        margin-right: 10px;
    }

    #own-status:hover {
        font-size: 1.1em;
        transition: 0.05s ease-out;
    }

    .fa-paper-plane:hover {
        font-size: 1.65em;
        transition: 0.05s ease-out;
    }

    .fa-paper-plane,
    .fa-check-circle {
        float: right;
        color: rgb(148, 9, 208);
        font-size: 25px;
        margin-left: 10px;
    }

    .heart {
        float: right;
        font-size: 25px;
        color: red;
    }

    .fa-trash {
        color: red;
        float: right;
    }

    .fa-trash:hover {
        font-size: 1.1em;
        transition: 0.05s ease-out;
    }

    .overflow-auto {
        height: 300px;
    }
</style>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <h1 id="park-name" class="card-header">{{parkname}}<i id="send-email" title="Email Myself"
                        class="fa fa-paper-plane"></i><i id="heart-icon" title="Favorite" class="heart fa fa-heart-o"
                        favorite="null" park-id={{id}}></i>
                    <div class="container col-md-2 clearfix">
                    </div>
                </h1>
                <div class="card-body">
                    <h2 id="state">State: {{state}}</h2>
                    <h2 id="address">Address: {{address}}</h2>
                    <h2 id="website">Website: <a href={{url}} target="_blank">{{url}}</a></h2>
                    <br>
                    <h2>Park Description</h2>
                    <p id="park-description">{{description}}</p>
                    <br>
                    <h2>Weather Description</h2>
                    <p id="weather-description">{{weather_description}}</p>

                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Add equipment you will need for {{parkname}} Camping</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Equipment Name...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>


            <div class="card my-4">
                <h5 class="card-header">Needed Equipment </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="overflow-auto">
                            <ul id="list-group" class="list-group mb-0">
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Equipment Checklist</h5>
                <div class="card-body">
                    If you are not sure what equipment you need; then, press <a id="checklist" href="#">here</a> to
                    select equipment from our checklist
                </div>
            </div>

        </div>

    </div>

    <script>
        //Favorite Parks Functionality
        $("#checklist").click((e) => {
            let url = window.location.pathname + "/" + "checklist";
            window.location.replace(url);
        });
        const parkId = $("#heart-icon").attr("park-id");
        $.post({
            url: "/api/user_profiles/favorites/status",
            method: "POST",
            data: { locationId: parkId }
        }).then(function (data) {
            $("#heart-icon").attr("favorite", data.favorite)
            if ($("#heart-icon").attr("favorite") == null) {
                $("#heart-icon").attr("class", "heart fa fa-heart-o");
            } else {
                $("#heart-icon").attr("class", "heart fa fa-heart");
            }
        })
        $(".heart.fa").click(function () {
            console.log($(this).attr("location-id"))

            if ($(this).attr("favorite") == "null") {
                $(this).attr("favorite", "true")
                $(this).attr("class", "heart fa fa-heart");
                $.ajax({
                    url: "/api/user_profiles/favorites",
                    method: "POST",
                    data: {
                        locationId: $(this).attr("park-id"),
                        locationName: $("#park-name").text().trim()
                    }
                }).then((err, data) => {
                    if (err) throw error;
                })
            } else {
                $(this).attr("favorite", "null")
                $(this).attr("class", "heart fa fa-heart-o");
                $.ajax({
                    url: "/api/user_profiles/favorites",
                    method: "DELETE",
                    data: {
                        locationId: $(this).attr("park-id"),
                    }
                }).then((err, data) => {
                    if (err) throw error;
                })

            }
        });

        // Email Functionality
        var emailSubjectContainer = "Camping Planner" + $("#park-name").text().trim();
        var emailBodyContainer = `${$("#park-name").text().trim()}
${$("#state").text().trim()}
${$("#address").text().trim()}
${$("#website").text().trim()}
Park Description:
    ${$("#park-description").text().trim()}
Weather Description:
    ${$("#weather-description").text().trim()}`;
        var emailObj = {
            subject: emailSubjectContainer,
            body: emailBodyContainer
        }
        $(".fa-paper-plane").click(function () {
            $.ajax({
                url: "/api/send_email",
                method: "POST",
                data: emailObj
            }).then(data => {
                if (data.id) {
                    $("#send-email").attr("class", "fa fa-check-circle")
                    $("#send-email").attr("title", "Email Sent!")
                    $("#send-email").css("color", "green")
                }
            })
        })
        $("#own-status").click(function () {
            //change own status in database
            if ($(this).attr("status") == "true") {
                $(this).css("color", "green")
                $(this).attr("status", "false")
            } else {
                $(this).css("color", "red")
                $(this).attr("status", "true")
            }

        })

    </script>

    <script type="text/javascript">
        var equipmentList =
            [
                {
                    "Category": "Kitchen",
                    "ItemName": "Stove And Fuel"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Matches/Light/Firestarter"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Cook Pots"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Frying Pan"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Eating Utensils"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Cooking Utensils"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Bottle Opener/Can Opener"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Sharp Knife"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Plates/Bowls"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Mugs/Cups"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Cutting Board"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Cooler"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Water Bottles"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Camp Sink"
                },
                {
                    "Category": "Kitchen",
                    "ItemName": "Soap"
                },
                {
                    "Category": "Tools",
                    "ItemName": "Multi-Tool"
                },
                {
                    "Category": "Tools",
                    "ItemName": "Duct Tape"
                },
                {
                    "Category": "Tools",
                    "ItemName": "Extra Cord"
                },
                {
                    "Category": "Tools",
                    "ItemName": "Mallet/Hammer"
                },
                {
                    "Category": "Tools",
                    "ItemName": "Saw/Axe"
                },
                {
                    "Category": "Clothing",
                    "ItemName": "Moisture Wicking Garments"
                },
                {
                    "Category": "Clothing",
                    "ItemName": "Long Sleeves"
                },
                {
                    "Category": "Clothing",
                    "ItemName": "Jacket"
                },
                {
                    "Category": "Clothing",
                    "ItemName": "Boots/Shoes"
                },
                {
                    "Category": "Clothing",
                    "ItemName": "Socks"
                },
                {
                    "Category": "Clothing",
                    "ItemName": "Sleepwear"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "Toilet Paper"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "Hand Sanitizer"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "Toothbrush/Toothpaste"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "Towels"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "First Aid Kit/Supplies"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "Sunscreen"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "Bug Spray"
                },
                {
                    "Category": "Hygiene",
                    "ItemName": "Lip Balm"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Firewood"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Cots"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Grill"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Portable Coffee/Tea Maker"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Solar/Portable Power"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Binoculars"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Rain Gear"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Snow Gear"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Gloves/Mittens"
                },
                {
                    "Category": "Optional",
                    "ItemName": "Warm Hat"
                }
            ]

        var equipmentHtmlContainer = "";

        equipmentList.forEach(item => {
            equipmentHtmlContainer += `<li class="list-group-item" data-item=${item.ItemName}>${item.ItemName}<i class="fa fa-trash"></i>
                                            <span id="own-status" status="true">OWN</span>
                                        </li>`
        });
        document.getElementById("list-group").innerHTML += equipmentHtmlContainer;
        $("li").click((e) => {
            let stateId = e.currentTarget.attributes.abbreviation.nodeValue.toUpperCase();
            let url = "/locations/" + stateId;
            window.location.replace(url);
        });
    </script>