{{!-- This page will hold the premade equiptment list (based on state/park),
info such as: description-address-website and the weather(based on ZipCode
-Equiptment list:
-if checked yes ex.green
-if checked no ex.red and show link
-submit button creates checklist on checklist.handlebars page
- Should let users add new items to their checklist
-Weather
-description from database
--}}
<style>
    .col-md-8 {
        margin-top: 15px;
    }

    .card-header {
        display: block;
    }

    #own-status {
        float: right;
        color: green;
        font-weight: bolder;
        margin-right: 10px;
    }

    #own-status:hover {
        font-size: 1.1em;
        transition: 0.05s ease-out;
    }

    .fa-paper-plane:hover {
        font-size: 1.1em;
        transition: 0.05s ease-out;
    }

    .fa-paper-plane {
        float: right;
        color: violet;
        margin-right: 10px;
    }

    .heart {
        float: right;
        font-size: 25px;
        color: red;
    }

    .fa-trash {
        color: red;
        float: right;
    }

    .fa-trash:hover {
        font-size: 1.1em;
        transition: 0.05s ease-out;
    }
</style>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!-- Blog Post -->
            <div class="card mb-4">
                <h1 class="card-header">{{parkName}}<i class="heart fa fa-heart-o" title="Email Myself"></i>
                    <div class="container col-md-2 clearfix">
                    </div>
                </h1>
                <div class="card-body">
                    <h2>State: {{state}}</h2>
                    <h2>Address: {{address}}</h2>
                    <h2>Website: {{url}}</h2>
                    <br>
                    <h2>Park Description</h2>
                    <p>{{parkDescription}}</p>
                    <br>
                    <h2>Weather Description</h2>
                    <p>{{weatherDescription}}</p>

                </div>

            </div>
        </div>
        <div class="col-md-4">
            <div class="card my-4">
                <h5 class="card-header">Add equipment for visiting this park</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Equipment Name...">
                        <span class="input-group-append">
                            <button class="btn btn-secondary" type="button">Add</button>
                        </span>
                    </div>
                </div>
            </div>


            <div class="card my-4">
                <h5 class="card-header">Equipment List <i class="fa fa-paper-plane"></i></h5>
                <div class="card-body">
                    <div class="row">
                        <div>
                            <ul class="list-group mb-0">
                                <li class="list-group-item"> hammer<i class="fa fa-trash"></i>
                                    <span id="own-status" status="true">OWN</span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Equipment Checklist</h5>
                <div class="card-body">
                    If you are not sure what equipment you need; then, press <a id="checklist" href="#">here</a> to
                    select equipment from our checklist
                </div>
            </div>

        </div>

    </div>

    <script>
        $("#checklist").click((e) => {
            let url = window.location.pathname + "/" + "checklist";
            window.location.replace(url);
        });
        $(".heart.fa").click(function () {
            $(this).toggleClass("fa-heart fa-heart-o");
        });
        $("#own-status").click(function () {
            //change own status in database
            if ($(this).attr("status") == "true") {
                $(this).css("color", "green")
                $(this).attr("status", "false")
            } else {
                $(this).css("color", "red")
                $(this).attr("status", "true")
            }

        })

    </script>